{% comment %}
This is adapted from Paul Irish's HTML5 boilerplate.
{% endcomment %}
<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Your New Armstrong Project</title>
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
  <div id="container">
        <header>
            <h1>Welcome to Armstrong!</h1>
        </header>
        <div id="main" role="main">
            <h2>Everything Worked!</h2>
            <p>
                Thanks for checking out Armstrong!  This is a static template
                that you can edit to fit your needs, or remove entirely if you
                want something else.
            </p>
            <p>
                Please check out
                <a href="http://github.com/armstrongcms/armstrong/">our repository</a>
                for more information on what to do next.
            </p>
        </div>
        <footer>
        </footer>
    </div> <!--! end of #container -->
    <!-- JavaScript at the bottom for fast page loading -->
</body>
</html>

