<h2>Everything Worked!</h2>

<p>
    Welcome to your new <a href="http://armstrongcms.org/">Armstrong</a>
    powered website.  Thank you for checking out Armstrong.
</p>

<p>
    This placeholder content is being displayed in place of real content
    because the appropriate data was not found inside your configured
    database.  There are two ways you could fix this:
</p>

<ol>
    <li>
        Log in to the <a href="{% url admin:index %}">admin</a> and create some
        new content.
    </li>

    <li>
        Run <code>armstrong load_demo_data</code> inside your project
        which will scrape the last 10 days worth of content from
        <a href="http://en.wikinews.org/wiki">WikiNews</a>.
    </li>
</ol>

<p>
    We recommend the latter option if you're just starting out with
    Armstrong and would like to kick the tires.
</p>


{% comment %}
TODO: Add Where to next? section
TODO: Add link to "Getting Started for Developers" once complete
TODO: Add link to "Getting Started for Journalists" once complete
{% endcomment %}
